[Desktop Entry]
Type=Application
Name=Zorin Shot Editor
Name[pl]=Edytor Zorin Shot
Comment=Zorin Shot annotation editor
Comment[pl]=Edytor adnotacji Zorin Shot
Exec=__ZORIN_SHOT_EDITOR__ --image %f
Icon=io.local.ZorinShot.Editor
Terminal=false
NoDisplay=true
MimeType=image/png;
StartupNotify=true
StartupWMClass=io.local.ZorinShot.Editor
